<div class="container has-text-centered">
  <%= image_tag "draw.svg", class: "mt-4 main-image" %>
  <h1 class="mt-6">Учебные пособия компании</h1>
  <%= image_tag "logo.png", class: "logo-image" %>
</div>
