@import "bulma/bulma";
@import "navbar";

h1 {
  font-size: 54px;
  font-weight: 800;
}

h2 {
  font-size: 38px;
}

h4 {
  font-size: 26px;
}

p {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 16px;
}

code {
  font-size: 20px;
}

.wrap-code {
  display: block;
  white-space: pre-wrap;
}

.main-image {
  width: 75%;
}

.logo-image {
  width: 35%;
}

.guide-image {
  width: 40%;
}

.useful-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
}

ol {
  text-align: justify;
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 15px 30px;
  border: 1px solid black;
}

ul {
  list-style-type: circle;
  text-align: initial;
  font-size: 20px;
}

li {
  margin-bottom: 10px;
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1600px) {
  .main-image {
    width: 60%;
  }

  .logo-image {
    width: 20%;
  }

  .guide-image {
    width: 25%;
  }
}
